<!-- <h2 class="mt-3">Examine Patients</h2> -->
<!-- <small class="text-muted">Please call a patient from below list</small> -->
<div class="card mt-3">
    <div class="card-header">
        <h5 class="d-inline">My OPD {{myOPD}}
            <small *ngIf="opdToken | async as opdToken; else loadingToken"> 
                (On display <span class="badge badge-primary">{{opdToken.token}}</span> )
            </small>
        </h5>
        <ng-template #loadingToken>
            <span class="spinner-border spinner-border-sm mr-1"></span>
        </ng-template>
        <span class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-sm btn-primary" [class.active]="myOPD === 1">
              <input type="radio" name="options" autocomplete="off" [checked]="myOPD === 1" (click)="onOPDChange(1)"> OPD 1
            </label>
            <label class="btn btn-sm btn-primary" [class.active]="myOPD === 2">
              <input type="radio" name="options" autocomplete="off" [checked]="myOPD === 2" (click)="onOPDChange(2)"> OPD 2
            </label>
        </span>
        <!-- <small class="text-muted">Currently displaying</small> -->
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="!selectedCatalogId" class="alert alert-success mt-3 mb-0">
        Select a patient from below list
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body" *ngIf="selectedCatalogId">
        <div class="row" *ngIf="selectedCatalog | async as selectedCatalog; else catalogLoading">
            <div class="col-md-3">
                <label>Patient Ben-ID</label>
                <h5>{{selectedCatalog.benId}}</h5>
            </div>
            <div class="col-md-3">
                <label>Patient Name</label>
                <h5>{{selectedCatalog.name}}</h5>
            </div>
            <div class="col-md-3">
                <label>Patient Status</label>
                <h5>{{selectedCatalog.status}}</h5>
            </div>
            <div class="col-md-3">
                <label>Token</label>
                <h5>{{selectedCatalog.token}}</h5>
            </div>
            <div class="col-md-12 text-right">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <button *ngIf="selectedCatalog.status === Status.Progress" (click)="statusUpdate(Status.Open, selectedCatalog.treatedBy)" 
                    class="btn btn-secondary btn-sm mr-2" >Release</button>

                <button *ngIf="selectedCatalog.status === Status.Open" (click)="statusUpdate(Status.Progress, selectedCatalog.treatedBy, selectedCatalog.token)" 
                    class="btn btn-primary btn-sm"> Display</button>

                <button *ngIf="selectedCatalog.status !== Status.Progress && selectedCatalog.status !== Status.Open" data-toggle="modal" 
                    data-target="#exampleModal" class="btn btn-danger btn-sm">Delete</button>

                <button *ngIf="selectedCatalog.status === Status.Progress" (click)="statusUpdate(Status.Resolved, selectedCatalog.treatedBy)"
                    class="btn btn-sm btn-success">Resolve</button>
            </div>
        </div>
        <ng-template #catalogLoading>
            <span class="spinner-border spinner-border-lg mt-4 mr-1"></span>
            Loading Results...
        </ng-template>
    </div>
</div>

<app-catalog-list (selectCatalogIdEmit)="selectPatient($event)" catalog-action="select"></app-catalog-list>
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure !!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <!-- <span class="text-muted text-sm">This can't be retrived again after delete.</span> -->
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" (click)="delete()">Yes</button>
        </div>
      </div>
    </div>
</div>
<!-- <div class="row mt-2" *ngIf="catalogs | async as catalogs; else loading">
    <div class="col-md-3 mt-3" *ngFor="let item of catalogs">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ben ID: {{item.benId}}</h6>
            <p class="card-text">Token: {{item.token}}</p>
            <button (click)="selectPatient(item.id)" class="btn btn-sm btn-link" [disabled]="selectedCatalogId && selectedCatalogId !== item.id">Call</button>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <span class="spinner-border spinner-border-lg mt-4 mr-1"></span>
    Loading Results...
</ng-template> -->