<div class="col-md-6 offset-md-3 mt-5">
    <img srcset="assets/svg/undraw_medical_care_movn.svg" class="img-fluid" alt="Responsive image">
    <!-- <h1 class="my-5">Welcome to Smart Queue !!</h1> -->
    <a class="btn btn-primary btn-lg btn-block mt-5" routerLink="/catalog-register">Register Patient</a>
    <a class="btn btn-primary btn-lg btn-block mt-5" routerLink="/catalog-select">Select Patient</a>
    <a class="btn btn-primary btn-lg btn-block mt-5" routerLink="/catalog-display" target="_blank">Display Patient</a>
</div>
